.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.727000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.894000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.388000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._c{margin-left:-3.873485px;}
._1{margin-left:-1.900950px;}
._7{width:1.322314px;}
._8{width:2.598991px;}
._6{width:14.997623px;}
._5{width:16.198207px;}
._b{width:18.028442px;}
._3{width:19.059005px;}
._2{width:21.519300px;}
._4{width:23.413600px;}
._9{width:24.579891px;}
._d{width:27.485078px;}
._0{width:31.241700px;}
._a{width:43.546378px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:47.820800px;}
.fs1{font-size:57.384800px;}
.fs0{font-size:82.650000px;}
.y1a{bottom:41.250000px;}
.y19{bottom:88.130000px;}
.y18{bottom:112.539000px;}
.y17{bottom:126.984000px;}
.y16{bottom:141.430000px;}
.y15{bottom:165.839000px;}
.y14{bottom:185.266000px;}
.y13{bottom:209.674000px;}
.y12{bottom:224.120000px;}
.y11{bottom:253.510000px;}
.y10{bottom:267.956000px;}
.yf{bottom:297.346000px;}
.ye{bottom:321.754000px;}
.yd{bottom:336.200000px;}
.yc{bottom:350.646000px;}
.yb{bottom:375.054000px;}
.ya{bottom:389.500000px;}
.y9{bottom:403.946000px;}
.y8{bottom:428.354000px;}
.y7{bottom:442.800000px;}
.y6{bottom:457.246000px;}
.y5{bottom:471.692000px;}
.y4{bottom:516.648000px;}
.y3{bottom:544.533000px;}
.y2{bottom:562.466000px;}
.y1f{bottom:580.523000px;}
.y1{bottom:597.958000px;}
.y1e{bottom:607.920000px;}
.y0{bottom:622.864000px;}
.y1d{bottom:632.329000px;}
.y1c{bottom:656.737000px;}
.y1b{bottom:671.183000px;}
.h6{height:33.187635px;}
.h5{height:34.144051px;}
.h3{height:40.169360px;}
.h4{height:40.972747px;}
.h2{height:57.855000px;}
.h1{height:58.268250px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x4{left:107.434000px;}
.x5{left:119.265000px;}
.x6{left:130.060000px;}
.x0{left:179.254000px;}
.x1{left:230.070000px;}
.x2{left:270.858000px;}
.x3{left:286.348000px;}
.x7{left:321.073000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._c{margin-left:-5.164646pt;}
._1{margin-left:-2.534600pt;}
._7{width:1.763086pt;}
._8{width:3.465322pt;}
._6{width:19.996830pt;}
._5{width:21.597609pt;}
._b{width:24.037922pt;}
._3{width:25.412007pt;}
._2{width:28.692400pt;}
._4{width:31.218133pt;}
._9{width:32.773188pt;}
._d{width:36.646771pt;}
._0{width:41.655600pt;}
._a{width:58.061838pt;}
.fs2{font-size:63.761067pt;}
.fs1{font-size:76.513067pt;}
.fs0{font-size:110.200000pt;}
.y1a{bottom:55.000000pt;}
.y19{bottom:117.506667pt;}
.y18{bottom:150.052000pt;}
.y17{bottom:169.312000pt;}
.y16{bottom:188.573333pt;}
.y15{bottom:221.118667pt;}
.y14{bottom:247.021333pt;}
.y13{bottom:279.565333pt;}
.y12{bottom:298.826667pt;}
.y11{bottom:338.013333pt;}
.y10{bottom:357.274667pt;}
.yf{bottom:396.461333pt;}
.ye{bottom:429.005333pt;}
.yd{bottom:448.266667pt;}
.yc{bottom:467.528000pt;}
.yb{bottom:500.072000pt;}
.ya{bottom:519.333333pt;}
.y9{bottom:538.594667pt;}
.y8{bottom:571.138667pt;}
.y7{bottom:590.400000pt;}
.y6{bottom:609.661333pt;}
.y5{bottom:628.922667pt;}
.y4{bottom:688.864000pt;}
.y3{bottom:726.044000pt;}
.y2{bottom:749.954667pt;}
.y1f{bottom:774.030667pt;}
.y1{bottom:797.277333pt;}
.y1e{bottom:810.560000pt;}
.y0{bottom:830.485333pt;}
.y1d{bottom:843.105333pt;}
.y1c{bottom:875.649333pt;}
.y1b{bottom:894.910667pt;}
.h6{height:44.250180pt;}
.h5{height:45.525402pt;}
.h3{height:53.559147pt;}
.h4{height:54.630330pt;}
.h2{height:77.140000pt;}
.h1{height:77.691000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x4{left:143.245333pt;}
.x5{left:159.020000pt;}
.x6{left:173.413333pt;}
.x0{left:239.005333pt;}
.x1{left:306.760000pt;}
.x2{left:361.144000pt;}
.x3{left:381.797333pt;}
.x7{left:428.097333pt;}
}
